*.linst~
*.php~
*.un~
.gitmodules
.idea
/vendor
create_timepoint.class.inc.backupDec2020
docs/css/
docs/dashboard.html
docs/fonts/
docs/index.html
docs/js/
docs/usr/
docs/var/
htdocs/dataDumps/
htdocs/js/components/*.map
htdocs/js/components/.module-cache/
htdocs/mantis*
htdocs/mri_parameter_directions
htdocs/my_tests/
htdocs/phpunit_codecoverage/
htdocs/team_2016_09_16.pdf
logs/*.log
modules/*/js/*.map
modules/*/js/.module-cache/
modules/data_release/ajax/AddPermission.php.save
node_modules/
npm-debug.log*
project
project-*
smarty/templates_c
tools/*.txt
tools/*log
tools/MRI_feedbacks_FinalQCedDWI_query.sql.bak
tools/MRI_feedbacks_query.sql.bak
tools/assign_missing_instruments.php.bak
tools/dataDump*
tools/excelDump.php.bak
tools/ip_output.txt.back
tools/ip_output.txt.bak
tools/ip_output.txt.only_mri_parameter_form_bugging_out
tools/logs/
tools/logs/*.log
tools/project_statistics_06_09_2020.csv
