#form-table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}

#form-table > tbody > tr > td {
  vertical-align: middle;
}

#form-table > tbody > tr > td > p {
  margin-bottom: 0;
  text-align: center;
}

span.bold {
  font-weight: bolder;
}

span.emphasis {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

optgroup {
  text-align: center;
}

optgroup[label="Internal Users"] > option {
}

optgroup[label="External Users"] > option {
  color: lightgray;
  font-style: italic;
}

option {
  text-align: center;
  font-size: smaller;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h2.Restricted {
  color: red;
}

h2.Internal {
  color: goldenrod;
}

h2.Open {
  color: green;
}

h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.font-smaller{
  font-size: smaller;
}

.font-xsmall{
  font-size: x-small;
}

.font-large {
  font-size: large;
}

#controlButtonsContainer{
  padding: 10px;
  flex-wrap: wrap;
}

#controlButtonsContainer > div{
  text-align: center;
}

#controlButtonsContainer > div > label,
#controlButtonsContainer > div > button{
  border-radius: 10px;
}

#embargo_container {
  margin-top: 30px;
}

.no-top-border{
  border-top-style: hidden !important;
}

.no-left-border{
  border-left-style: hidden !important;
}
.no-right-border{
  border-right-style: hidden !important;
}
.no-bottom-border{
  border-bottom-style: hidden !important;
}

.hidden {
  display: none;
}

#comments {
  padding: 10px;
  text-align: center;
}

textarea {
  text-align: center;
  vertical-align: middle;
}

.tooltip-inner {
  max-width: 1000px !important;
}

.table-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.data-entry-table > tbody > tr,
.data-entry-table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
}

.data-entry-table > tbody > tr > td > div{
  padding: 15px;
}

.data-entry-table > tbody > tr > td > div > h4{
  font-weight: bold;
}

.data-entry-table > tbody > tr > td > h4{
  font-weight: bold;
}

.data-entry-table > tbody > tr > td > div > div > label{
  font-size: large;
}

.table-container > div > table.data-entry-table > thead > tr > th,
.table-container > div > table.data-entry-table > tbody > tr > th,
.table-container > div > table.data-entry-table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
}

.table-container > div > table.calculated-scores-table > thead > tr > th,
.table-container > div > table.calculated-scores-table > tbody > tr > th,
.table-container > div > table.calculated-scores-table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
}

.table-title {
  font-size: medium;
  font-weight: bolder;
}

.table-subtitle{
  font-size: small;
  font-weight: bold;
}

input[type=text] {
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

/* XS */
@media only screen and (min-width : 480px) {
  .settings-container {
    text-align: left;
  }
}

/* SM */
@media only screen and (min-width : 768px) {
  .settings-container {
    text-align: left;
  }
  .table-container input[type=text] {
    font-size: x-small;
  }
}

/* MD */
@media only screen and (min-width : 992px) {
  .settings-container {
    text-align: right;
  }
  .table-container input[type=text] {
    font-size: 0.35em;
  }
}

/* LG */
@media only screen and (min-width : 1200px) {
  .settings-container {
    text-align: right;
  }
  .table-container input[type=text] {
    font-size: smaller;
  }
}
