#form-table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}

#form-table > tbody > tr > td {
  vertical-align: middle;
}

#form-table > tbody > tr > td > p {
  margin-bottom: 0;
  text-align: center;
}

span.bold {
  font-weight: bolder;
}

span.emphasis {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

optgroup {
  text-align: center;
}

optgroup[label="Internal Users"] > option {
}

optgroup[label="External Users"] > option {
  color: lightgray;
  font-style: italic;
}

h4.panel-title {
  text-align: center;
}

option {
  text-align: center;
  font-size: smaller;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h2.Restricted {
  color: red;
}

h2.Internal {
  color: goldenrod;
}

h2.Open {
  color: green;
}

h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.font-smaller{
  font-size: smaller;
}

.font-xsmall{
  font-size: x-small;
}

.font-large {
  font-size: large;
}

#controlButtonsContainer{
  padding: 10px;
  flex-wrap: wrap;
}

#controlButtonsContainer > div{
  text-align: center;
}

#controlButtonsContainer > div > label,
#controlButtonsContainer > div > button{
  border-radius: 10px;
}

#longitudinal-results-table > thead > tr > th {
  text-align: center;
}

#longitudinal-results-table > tbody > tr > td {
  text-align: center;
}

#longitudinal-results-table > tbody > tr > td.not-asked {
  background-color: darkgray;
  font-style: italic;
  font-weight: bold;
  color: lightgoldenrodyellow;
}

#longitudinal-results-table > tbody > tr > td.not-answered {
  background-color: lightgray;
  font-style: italic;
}

#longitudinal-results-table > tbody > tr > td:first-child {
  font-weight: bold;
}

#embargo_container {
  margin-top: 30px;
}

.no-top-border{
  border-top-style: hidden !important;
}

.no-left-border{
  border-left-style: hidden !important;
}
.no-right-border{
  border-right-style: hidden !important;
}
.no-bottom-border{
  border-bottom-style: hidden !important;
}

.hidden {
  display: none;
}

#comments {
  padding: 10px;
  text-align: center;
}

textarea {
  text-align: center;
  vertical-align: middle;
}

.question-container > div > textarea {
  color: black;
}

.question-container {
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question-asked {
  color: white;
  background-color: #064785;
}

.question-not-asked {
  color: black;
  font-style: italic;
  opacity: 75%;
  background-color: lightgray;
}

.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.question-text > p{
  font-size: large;
  padding: 0px 20px 0px 20px;
  margin-bottom: 0px;
}

.question-answer {
  margin-bottom: 0px;
}

.question-answer > textarea {
  margin-top: 20px;
}

h4 {
  font-weight: bold;
  font-size: larger;
}

input[type=text] {
  text-align: center;
}

textarea:focus::placeholder,
input:focus::placeholder {
  color: transparent;
}

.question-comment {
  margin-top: 15px;
}

/* XS */
@media only screen and (min-width : 480px) {
  .settings-container {
    text-align: left;
  }
}

/* SM */
@media only screen and (min-width : 768px) {
  .settings-container {
    text-align: left;
  }
}

/* MD */
@media only screen and (min-width : 992px) {
  .settings-container {
    text-align: right;
  }
}

/* LG */
@media only screen and (min-width : 1200px) {
  .settings-container {
    text-align: right;
  }
}
